This is a classification problem where we are going to use above CoverType Dataset.

Covertype Data Set is a dataset describing **cartographic features** of areas of land in the USA and also its forest type according to the US Forest Service.

The above dataset has 7 (1 to 7) classes but we are interested in only class **3**.

So our classification model **should be binary** that should classify whether the the **new data input is class 3 or not**.

In this test we use the Covertype Data Set, a dataset describing cartographic features of areas of land in the USA and also its forest type according to the US Forest Service. There are seven classes(COVER_TYPE) (1-7), 581012 samples and 54 features. For this test, we're only interested in cover type 3.

Note - COVER_TYPE is the last column

1. Build the model and evalute the accuracy

In [8]:
# Import the relevant python libraries for the analysis
import pandas as pd
from pandas import DataFrame
import numpy as np

In [11]:
# Import data
covtype_data = pd.read_csv('covtype.csv')
covtype_df = DataFrame(covtype_data)
covtype_df.head()

,2596,51,3,258,0,510,221,232,148,6279,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,5
0,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
1,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
2,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
3,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
4,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2

In [12]:
covtype_df.describe()

,2596,51,3,258,0,510,221,232,148,6279,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,5
count,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,...,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000
mean,2959.365926,155.656988,14.103723,269.428236,46.418935,2350.149779,212.146033,223.318701,142.528253,1980.283828,...,0.090392,0.077716,0.002773,0.003255,0.000205,0.000513,0.026803,0.023762,0.015060,2.051465
std,279.984569,111.913733,7.488234,212.549538,58.295250,1559.254343,26.769909,19.768711,38.274561,1324.184340,...,0.286743,0.267725,0.052584,0.056957,0.014310,0.022641,0.161508,0.152307,0.121792,1.396500
min,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2809.000000,58.000000,9.000000,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2996.000000,127.000000,13.000000,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,3163.000000,260.000000,18.000000,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,3858.000000,360.000000,66.000000,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [13]:
covtype_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581011 entries, 0 to 581010
Data columns (total 55 columns):
2596    581011 non-null int64
51      581011 non-null int64
3       581011 non-null int64
258     581011 non-null int64
0       581011 non-null int64
510     581011 non-null int64
221     581011 non-null int64
232     581011 non-null int64
148     581011 non-null int64
6279    581011 non-null int64
1       581011 non-null int64
0.1     581011 non-null int64
0.2     581011 non-null int64
0.3     581011 non-null int64
0.4     581011 non-null int64
0.5     581011 non-null int64
0.6     581011 non-null int64
0.7     581011 non-null int64
0.8     581011 non-null int64
0.9     581011 non-null int64
0.10    581011 non-null int64
0.11    581011 non-null int64
0.12    581011 non-null int64
0.13    581011 non-null int64
0.14    581011 non-null int64
0.15    581011 non-null int64
0.16    581011 non-null int64
0.17    581011 non-null int64
0.18    581011 non-null int64
0.19    581011 non-null int64
0.20    581011 non-null int64
0.21    581011 non-null int64
0.22    581011 non-null int64
0.23    581011 non-null int64
0.24    581011 non-null int64
0.25    581011 non-null int64
0.26    581011 non-null int64
0.27    581011 non-null int64
0.28    581011 non-null int64
0.29    581011 non-null int64
0.30    581011 non-null int64
0.31    581011 non-null int64
1.1     581011 non-null int64
0.32    581011 non-null int64
0.33    581011 non-null int64
0.34    581011 non-null int64
0.35    581011 non-null int64
0.36    581011 non-null int64
0.37    581011 non-null int64
0.38    581011 non-null int64
0.39    581011 non-null int64
0.40    581011 non-null int64
0.41    581011 non-null int64
0.42    581011 non-null int64
5       581011 non-null int64
dtypes: int64(55)
memory usage: 243.8 MB

### Create a target (binary variable) that shows if a column has a '3' class in the 5 (Cover_Type) column
0 = TRUE, there is a 3 in the Cover_Type column

1 = FALSE, there is NOT a 3 in the Cover_Type column

In [20]:
# Test output
covtype_df['5'][0].dtype

dtype('int64')

In [23]:
# Create empty list
if_three = []

for classtype in covtype_df['5']:
   
    if classtype == 3:
        if_three.append(0)
    else:
        if_three.append(1)

In [26]:
# Test output
#if_three

In [30]:
# Add list to dataframe as target
covtype_df['target'] = pd.Series(if_three, np.arange(0,581011))
covtype_df.tail()

,2596,51,3,258,0,510,221,232,148,6279,...,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,5,target
581006,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,3,0
581007,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,3,0
581008,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,3,0
581009,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,3,0
581010,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,3,0

## Since the target variable is binary in nature, a logistic (probabalistic) regression model is ideal, to do it's sigmoidal mathmatical foundation.

In [33]:
# Separate out the features
X_features = covtype_df.copy().drop(columns='target')

# Separate out the target
y_target = covtype_df['target'].values
print(y_target.shape)

(581011,)

#### Testing and Training Data

In [32]:
# Import necessary modules 
from sklearn.model_selection import train_test_split

In [36]:
X_feature_train, X_feature_test, y_target_train, y_target_test = train_test_split(X_features, y_target, test_size=0.3, random_state=42)
len(X_feature_train), len(X_feature_test), len(y_target_train), len(y_target_test)

(406707, 174304, 406707, 174304)

#### Standardize the Feature Data

In [31]:
# Import necessary modules
from sklearn.preprocessing import StandardScaler

In [34]:
# Create a scaler instance
scaler = StandardScaler()

In [37]:
# Fit on training features set *only*
scaler.fit(X_feature_train)

# Apply transform to both the feature training and the test sets
X_train_scaled = scaler.transform(X_feature_train)
X_test_scaled = scaler.transform(X_feature_test)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

#### Logistic Regression

In [38]:
from sklearn.linear_model import LogisticRegression

In [51]:
# Create a Logistic Regression Incidence 
clf_log = LogisticRegression(random_state=42, solver='lbfgs', n_jobs=10)

In [52]:
# Fit data to model
clf_log_scaled = clf_log.fit(X_train_scaled, y_target_train)

#### Assess Accuracy of Model

In [59]:
# Import necessary modules
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

In [54]:
# Calculate the class probablity -returns the probability of model's ability to predict a likely value of the features
probability = clf_log_scaled.predict_proba(X_test_scaled)
probability

array([[6.03427022e-06, 9.99993966e-01],
       [3.06539883e-06, 9.99996935e-01],
       [2.56124451e-02, 9.74387555e-01],
       ...,
       [1.63812111e-06, 9.99998362e-01],
       [7.13084533e-01, 2.86915467e-01],
       [5.07335807e-07, 9.99999493e-01]])

In [57]:
# Predict the model -assess how well the model predicts unseen data
predict = clf_log_scaled.predict(X_test_scaled)

# Compute classification report (https://en.wikipedia.org/wiki/Precision_and_recall)
class_report = classification_report(y_target_test, predict)
print(class_report)

              precision    recall  f1-score   support

           0       0.75      0.76      0.75     10692
           1       0.98      0.98      0.98    163612

   micro avg       0.97      0.97      0.97    174304
   macro avg       0.87      0.87      0.87    174304
weighted avg       0.97      0.97      0.97    174304

*Observations*: The model appears to have an overall accuracy of 75% when predicting '0', where a classtype IS 3, and 98% accuracy when predicting '1', where the classtype IS NOT 3.

In [60]:
# Print the accuracy from the testing data
'The accuracy score the the scaled data is: ', accuracy_score(y_target_test, predict)

('The accuracy score the the scaled data is: ', 0.9696507251698182)

#### The overall accuracy of this model is ~97%.